<div class="card">
  <div class="card-body">

    <h2 class="card-title text-center">Create New Account</h2>

  <% if @user.errors.any? %>
  <p>Please correct the following errors:</p>
  <ul>
    <% @user.errors.full_messages.each do |e| %>

    <li><%= e %></li>

    <% end %>
  </ul>
    <% end %>

  <%= render partial: 'form' %>
</div>

</div>
