@import "bootstrap";

html, body {
  height: 100%
}

// login-form
.p-5 {
    padding: 3rem !important;
    margin: 0 25rem;
}

#sticky-footer {
  flex-shrink: none;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
}

li :hover {
  background-color: yellow;
}

a :hover{
  background-color: yellow;
}

// .mainFooter {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   /* height: 4em; */
//   background-color: #205081;
//
//   color: white;
//   text-align: center;
// }


.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #e3f2fd
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: 10%;
  }
