@import "bootstrap";

html, body {
  height: 100%
}

// login-form
.p-5 {
    padding: 3rem !important;
    margin: 0 25rem;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
}

// li :hover {
//   background-color: yellow;
// }

.btn a{
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 1rem 22rem 2rem 22rem;
    padding: 1rem;
  }

// .mainFooter {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   /* height: 4em; */
//   background-color: #205081;
//
//   color: white;
//   text-align: center;
// }


.card-footer {
  position: fixed;
  padding: 0.75rem 1.25rem;
  background-color: #e3f2fd;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 10%;
  bottom: 0;
  width: 100%;
}
