// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentContainer {
  display: grid;
  // grid-column-start: 1;
  // grid-column-end: span col4-start;
  // grid-row-start: 2;
  // grid-row-end: span 2;


  border: 1px solid grey;
  border-radius: 10px;
  padding: 1em;
  
}

.listedComment {
  list-style: none;
  border: 1px solid grey;
  border-radius: 10px;
  padding: .5em;
}
