* {
  font-family: 'Noto Sans', sans-serif;
}

.field_with_errors input {
  border: 3px solid red;
}

form.new_user {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 6px;
  width: 30%;
}

from.new_user, form.edit_user label {
  text-align: right;
  margin-right: 8px;
}

.login-h2 {
  text-align: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-email input, .login-form-pw input {

  border-radius: 5px;
  line-height: 22px;
  width: 12em;

}

.login-form-submit input{

  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 22px;
  width: 10em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #144a75;
  border-radius: 4px;

}
