* {
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  color: black;
}

.field_with_errors input {
  border: 3px solid red;
}

form.new_user {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 6px;
  width: 30%;
}

from.new_user, form.edit_user label {
  text-align: right;
  margin-right: 8px;
}



li {
  text-decoration: none;
}

li :hover{
  background-color: e4e932;
}
